.field-group {
  display: block;
  padding-bottom: 10px;
}

.field-group label {
  display: block;
  font-weight: bold;
}

.field-group label::after {
  content: ':';
}

.field-group input.form-input {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 3px;
}

.field-group span.help {
  display: block;
  font-size: smaller;
  color: #666;
  font-style: italic;
}
